<div class="m-3 mt-10 p-4 card w-[350px] h-[200px]  rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]" >
    <div class="w-full h-full flex">
         <div class="h-full w-1/2 flex flex-col justify-center pl-6 ">
            <h1 class="text-5xl font-bold tracking-wide">500</h1>
            <p class="mt-2 text-lg font-medium text-start" >Classe</p>
         </div>
         <div class="h-full w-1/2 flex justify-end items-center pr-6">
  
                <a href="#" class="flex items-center bg-azure-light p-2 text-white rounded-full dark:text-white hover:bg-Azure hover:text-white dark:hover:bg-gray-700 group hover:translate-x-2 transition-transform ">
                  <svg class="w-5 h-5 text-white transition duration-75 dark:text-gray-400 group-hover:text-white dark:group-hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z" fill="currentColor"></path>
                </svg>
                </a>
         </div>
         
    </div> 
</div>

