<div id="btn"  class="py-3 h-[100%] ">
    <div class="flex justify-between items-center px-10">
        <div class=" flex items-center">
            <button mwlCalendarPreviousView [(viewDate)]="viewdate" [view]="view"
                class="w-7 h-7 border border-Azure rounded-full flex items-center justify-center hover:-translate-x-2 transition-transform">
                <svg class="w-5 h-5 text-Azure " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z" fill="currentColor"></path>
                </svg>
            </button>
            <button mwlCalendarToday [(viewDate)]="viewdate"
                class="ml-7 mr-7 font-mono uppercase w-20 h-10 rounded-lg bg-transparent text-azure-light hover:text-Azure">today
            </button>
            <button mwlCalendarNextView [(viewDate)]="viewdate" [view]="view"
                class="w-7 h-7 mr-3 border border-Azure   rounded-full flex items-center justify-center hover:translate-x-2 transition-transform">
                <svg class="w-5 h-5 text-Azure " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z" fill="currentColor"></path>
                </svg>
            </button>
        </div>
        <div id="call-date-field text-black">{{ viewdate | calendarDate:'weekViewTitle':'en' }}</div>
        <div class="p-3">
            <button (click)="setView(calendarView.Month)" class=" w-20 h-10 bg-Azure text-white border border-r-whithe">Mois</button>
            <button (click)="setView(calendarView.Day)" class=" w-20 h-10 bg-Azure text-white border border-r-whithe">jour</button>
            <button (click)="setView(calendarView.Week)" class=" w-20 h-10 bg-Azure text-white border border-r-whithe">semaine</button>
        </div>
    </div>
    <span [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="calendarView.Month" [viewDate]="viewdate" [excludeDays]="[0,6]" [events]="events"  (eventClicked)="eventClicked($event)" > 
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" [viewDate]="viewdate" [excludeDays]="[0,6]" [events]="events"  [dayStartHour]="9"
        (eventClicked)="eventClicked($event)"
        [dayEndHour]="20" class="cal-session-title text-black">
    </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" [viewDate]="viewdate" [events]="events"  [dayStartHour]="9" 
        (eventClicked)="eventClicked($event)"
        [dayEndHour]="20" >
    </mwl-calendar-day-view>
    </span>