<div class="m-3 mt-10 p-5  card w-[725px] h-[500px] rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]" >
     <div class="w-full h-full ">
        <div class="title mb-5">
            <p class="text-lg tracking-wider font-normal">Les derniers etudiant inscrit</p>
        </div>
        <div class="flex justify-between items-center  py-5 border-gris border-b-2">
            <div class="parent flex items-center">
                <div class="profile w-10 h-10 bg-azure-light block rounded-full mr-3"></div>
                <div class="name">
                    <h2 class="text-2xl tracking-wider font-medium">Mousssa Sagna</h2>
                    <span class="font-extralight text-lg">classe</span>
                </div>
            </div>
            <span>10/10/2023</span>
        </div>
        <div class="flex justify-between items-center  py-5 border-gris border-b-2">
            <div class="parent flex items-center">
                <div class="profile w-10 h-10 bg-azure-light block rounded-full mr-3"></div>
                <div class="name">
                    <h2 class="text-2xl tracking-wider font-medium">Mousssa Sagna</h2>
                    <span class="font-extralight text-lg">classe</span>
                </div>
            </div>
            <span>10/10/2023</span>
        </div> <div class="flex justify-between items-center  py-5 border-gris border-b-2">
            <div class="parent flex items-center">
                <div class="profile w-10 h-10 bg-azure-light block rounded-full mr-3"></div>
                <div class="name">
                    <h2 class="text-2xl tracking-wider font-medium">Mousssa Sagna</h2>
                    <span class="font-extralight text-lg">classe</span>
                </div>
            </div>
            <span>10/10/2023</span>
        </div> <div class="flex justify-between items-center  py-5 border-gris border-b-2">
            <div class="parent flex items-center">
                <div class="profile w-10 h-10 bg-azure-light block rounded-full mr-3"></div>
                <div class="name">
                    <h2 class="text-2xl tracking-wider font-medium">Mousssa Sagna</h2>
                    <span class="font-extralight text-lg">classe</span>
                </div>
            </div>
            <span>10/10/2023</span>
        </div> 
        
       

     </div>
</div>